html {
	height: 100%;
}

body {
	@include no-indents;
	@include font;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
	@include no-indents;
}
h1 {
	@include font("Cuprum", sans-serif; 1.875rem; 30px; 400; @dark-blue-h);
}
h2 {
	@include font("Cuprum", sans-serif; 2.25rem; 24px; 400; @dark-blue-h);
}
h3 {
	@include font("Cuprum", sans-serif; 1.875rem; 24px; 400; #000000);
}
p {
	@include no-indents;
}
figure {
	@include no-indents;
}
img {
  max-width: 100%;
  height: auto;
}
footer {
	flex: 0 0 auto;
}
