@mixin font-mixin($family, $style, $map) {
	$dir-name: "../fonts/";
	@each $weight, $path in $map {
		@font-face {
			font-family: $family;
			font-style: $style;
			font-weight: $weight;
			src: local($family),
					url($dir-name + $path + ".woff2") format("woff2"),
					url($dir-name + $path + ".woff") format("woff");
		}
	}
}
@mixin font(
	$font-family: $font-family--base,
	$font-size: 100%,
	$line-height: 24px,
	$font-weight: 400,
	$color: #000000
	) {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	font-weight: $font-weight;
	color: $color;
}
@mixin no-indents {
	margin: 0;
	padding: 0;
}
@mixin no-list-style {
	@include no-indents;
	list-style: none;
}
@keyframes fade {
	100% {
		opacity: 1;
	}
}
.show {
	animation: fade 1s forwards ease-in;
}
.hidden {
	display: none;
}
@keyframes shake {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-60%, -50%);
  }
  20%, 40%, 60%, 80% {
    transform: translate(-50%, -50%);
  }
}
.error {
	animation: shake 0.6s !important;
}
