@mixin font-mixin ($family, $style, $map) {
	$dir-name: "../fonts/";
	@each $weight, $path in $map {
		@font-face {
			font-family: $family;
			font-style: $style;
			font-weight: $weight;
			src: local($family),
					url($dir-name + $path + ".woff2") format("woff2"),
					url($dir-name + $path + ".woff") format("woff");
		}
	}
}
@mixin font (
	$family: $font-family--base,
	$size: 100%,
	$height: 24px,
	$weight: 400,
	$color: #000000
	) {
	font-family: $family;
	font-size: $size;
	line-height: $height;
	font-weight: $weight;
	color: $color;
}
@mixin inline-block ($align: top) {
	display: inline-block;
	vertical-align: $align;
}
@mixin no-indents () {
	margin: 0;
	padding: 0;
}
@mixin no-list-style () {
	@include no-indents;
	list-style: none;
}
@mixin center-x () {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
@mixin center-y () {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
