include modules/head

<!DOCTYPE html>
html(lang="en")

	block head
		+head ({
			"title": "Index",
			"author": "Durin Vladislav",
			"description": "new Site",
			"keywords": "css, html, pug"
		})

	body
		block header
			include modules/header

		block main
			include modules/main

		block footer
			include modules/footer

		block scripts
			script(src="js/script.js")
